:root {
  --primary-color: #15cc4c;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  background-color: var(--tertiary-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  display: inline;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
  background-image: url("../images/background.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;

  justify-content: space-around;
}

.hero img {
  width: 20%;
  margin: 80px;
}

.hero h1 {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  align-self: flex-end;
}

.info h2 {
  color: #024e76;
  font-size: 46px;
  align-items: flex-start;
}

.vl {
  border-left: 6px solid green;
  height: 200px;
}

.vl-long {
  border-left: 6px solid green;
  height: 980px;
}

.info p {
  text-align: justify;
  margin: 3.5%;
  color: var(--tertiary-color);
  font-size: 18px;
  line-height: 1.2;
  align-items: flex-start;
}

.info {
  display: flex;
}

.info-container {
  justify-content: flex-end;
  align-items: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.finished-project {
  display: flex;
  margin: 10px;
  justify-content: center;
  position: relative;
  text-align: center;
  color: blue;
}

.img-text {
  position: absolute;
  font-size: 24px;
  bottom: 0;
  left: 200px;
  background-color: var(--tertiary-color);
}

.main-project {
  width: 70%;
  border: 5px solid var(--tertiary-color);
}

.coming-soon {
  width: 40%;
  margin: 10px;
  border: 5px solid var(--tertiary-color);
}
/*reach out*/

.contact-form {
  display: flex;
  justify-content: center;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}
